
.titulo3{
    width: 100vw;
    height: 227px;
    position: relative;
}

.titulo-txt{
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    position: absolute;
    top:60px;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 40%, #000000 100%);
}

.titulo3 img{
    width: 100%;
    height: 227px;
    margin-top: 60px;
}

.titulo3 p{
    position: absolute;
    top:150px;
    left: 50%;
    color: #FFFFFF;
    font-size: 39px;
}

.titulo-pergunta-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width:688px;
    height:138px;
    background-color: #434CA0;
}

.titulo-pergunta-3 p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    color: #FFFFFF;
}

.questoes-container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 759px;
    margin-left: auto;
    margin-right: auto;
}

.caixa-questao3{
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 50px;
    width: 100%;
}

.respostas3{
    display: flex;
    flex-wrap: wrap;
    column-gap: 28px;
    width: 100%;
}

.respostas3 > div{
    margin-top: 20px;
}

.respostas3 img{
    width: 330px;
    height: 175px;
}

.respostas3 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    line-height: 25px;
}

